{% for i in 0..9 %}
    <tr>
        {% for j in 0..9 %}
            <td id ="{{ i ~ j }}"
                    {% if gameArray[i][j]   in 'killed' %}
                        {{ 'class="killed"' }}
                    {% elseif gameArray[i][j]   in 'injured' %}
                        {{ 'class="injured"' }}
                    {% elseif gameArray[i][j]   in 'slip' %}
                        {{ 'class="slip"' }}
                    {% endif %}
            >
            </td>
        {% endfor %}
    </tr>
{% endfor %}

