
{% extends 'battleship/base.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script>

                var i = 0;

                function second_passed() {
                    $.post(" {{ path('game') }} "," ", onAjaxSuccess);

                    $('.timer').text(i);
                    i += 3;

                    setTimeout(second_passed, 3000)
                }

                function onAjaxSuccess(data)
                {
                    if(data.result) {
                        window.location.replace("{{ path ('game_process') }}");
                    }
                }
                second_passed()
            </script>
        {% endblock %}

{% block content %}

    {% include 'battleship/navigation.html.twig' %}

    <div class="game-starting">
        <div class="game-starting-messenge">Идет поиск соперника, время ожидания:</div>
        <div class="timer"></div>
    </div>


{% endblock %}

