
{% extends 'battleship/base.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script>
                jQuery(document).ready(function () {

                    $(document).on('click', '#enemyTable td', function() {
                        $(this).addClass('ship-clic');
                        $('.ship-clic').not(this).not('.color').removeClass('ship-clic');
                    });

                    $('.fire').click(function (event) {
                        var id = $('.ship-clic').not('.color').attr('id');

                        $.post("{{ path('game_play_security') }}",  {
                            id : id,
                        }, onAjaxKill);
                    })

                    function onAjaxKill(data)
                    {
                        if(data.result == 'victory'){
                            window.location.replace("{{ path ('game_victory') }}");
                        }

                        if(data.result){
                            $('.fire').addClass('hiden');
                            $('.messenge').removeClass('hiden');

                            $('#enemyTable').load("{{ path('game_enemy_field') }}");
                            $('#myTable').load("{{ path('game_user_field') }}");
                        }
                    }

                    second_passed();

                    function second_passed() {
                        $.post(" {{ path('game_play_stroke') }} "," ", onAjaxStroke);
                        $('#myTable').load("{{ path('game_user_field') }}");
                        setTimeout(second_passed, 3000);
                    }

                    function onAjaxStroke(data)
                    {
                        if(data.result == 'gameOver'){
                            window.location.replace("{{ path ('game_over') }}");
                        }
                        if(data.result){
                            $('.fire').removeClass('hiden');
                            $('.messenge').addClass('hiden');
                        }
                    }
                });
            </script>
        {% endblock %}

{% block content %}

    {% include 'battleship/navigation.html.twig' %}

    <div class="game">
        <div class="game-container">
            <table id = "myTable" class="game-table">
                {% include 'game/my_table.html.twig' %}
            </table>
            <div class="game-info">
                <div class="color killed"></div>
                <p>- Корабль уничтожен</p>
            </div>
            <div class="game-info">
                <div class="color injured"></div>
                <p>- Корабль ранен</p>
            </div>
            <div class="game-info">
                <div class="color slip"></div>
                <p>- Промах</p>
            </div>
            <div class="game-info">
                <div class="color ship"></div>
                <p>- Целый корабль</p>
            </div>
            <div class="game-info">
                <div class="color ship-clic"></div>
                <p>- Клетка для нанесения удара</p>
            </div>
        </div>

        <div class="game-container">
            <table  id = "enemyTable" class="game-table">
                {% for i in 0..9 %}
                    <tr>
                        {% for j in 0..9 %}
                            <td id ="{{ i ~ j }}">

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <div class ="fire hiden">Огонь</div>
            <div class ="messenge">Ожидайте!</div>
            <a href="{{ path ('user_info', {'id' : id}) }}" target="_blank">
                <div class ="enemy">
                    <img src="{{ asset('uploads/img/' ~ img) }}">
                    <div>
                        <h3>
                            Ваш противник:
                        </h3>
                        <p>
                            <strong>Никнейм: </strong> {{ username }}
                        </p>
                        <p>
                            <strong>Игр сыгранно: </strong>{{ games }}
                        </p>
                        <p>
                            <strong>Побед: </strong>{{ victory }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>


{% endblock %}

