
{% extends 'battleship/base.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script>
                $('#myTable td').click(function (event) {
                    if(!$('.ready').hasClass('hiden')) {
                        if ($(this).hasClass('ship-prepare')) {
                            $(this).removeClass('ship-prepare');
                        } else {
                            $(this).addClass('ship-prepare');
                        }
                    }
                })

                $('.ready').click(function (event) {
                    if(!$('.ready').hasClass('block')) {
                        $('.ready').addClass('block');
                        var array = $('.ship-prepare').not('.color').map(function () {
                            return this.id;
                        }).toArray();

                        var id = JSON.stringify(array);

                        $.post("{{ path('game_process_security') }}", {
                            id: id,
                        }, onAjaxSuccess);
                    }
                })

                $('.start').click(function (event) {
                    $('.ready').removeClass('hiden');
                    $(this).addClass('hiden');

                    $.post("{{ path('game_process_security') }}",  {
                        start : true,
                    }, onAjaxSuccess);
                })

                function onAjaxSuccess(data)
                {
                    if(data.result != false){
                        $('.messenge-prep').html(data.result);
                        $('.ship-prepare').not('.color').addClass('ship');
                        $('.ship-prepare').not('.color').removeClass('ship-prepare');
                    }

                    if(data.result == "play"){
                        $('.ready').addClass('hiden');
                        $('.play').removeClass('hiden');
                    }

                    if(data.result == false){
                        var messenge  = "<p style='color:red'>Вы неверно расположили корабль!</p>"
                        messenge += $('.messenge-prep').html();
                        $('.messenge-prep').html(messenge);
                    }

                    $('.ready').removeClass('block');
                }

                $('.play').on('click', second_passed);

                var i =0;
                function second_passed() {
                    $.post(" {{ path('game_play_query') }} "," ", onAjax);

                    $('.messenge-prep').html('Ожидание соперника : '+i );
                    i++;
                    setTimeout(second_passed, 3000);
                }

                function onAjax(data)
                {
                    if(data.result){
                        window.location.replace("{{ path ('game_play') }}");
                    }
                }

                $(document).keyup(function (e) {
                    if(e.which == 32) {
                        $('.ready').trigger('click');
                    }});


            </script>
        {% endblock %}

{% block content %}

    {% include 'battleship/navigation.html.twig' %}

    <div class="game">
        <div class="game-container">
            <table id = "myTable" class="game-table">
                {% for i in 0..9 %}
                    <tr>
                        {% for j in 0..9 %}
                            <td id ="{{ i ~ j }}"
                                    {% if gameArray[i][j]   not in '0' %}
                                        {{ 'class="ship"' }}
                                        {% set counterNotNull =  counterNotNull+1 %}
                                    {% endif %}
                            >
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <div class="button start
                {% if counterNotNull not in '0' %}
                    {{ 'hiden' }}
                {% endif %}
            ">
                Начать размещение кораблей !
            </div>
            <div class="button ready
                {% if counterNotNull in 0 %}
                    {{ 'hiden' }}
                {% elseif counterNotNull == counter %}
                    {{ 'hiden' }}
                {% endif %}
            ">
                Готово.Корабль установлен!
            </div>
            <div class="button play
                {% if counterNotNull != counter %}
                    {{ 'hiden' }}
                {% elseif counterNotNull == 0 %}
                    {{ 'hiden' }}
                {% endif %}
            ">
                Начать игру !
            </div>
            <div class="game-info">
                <div class="color ship-prepare"></div>
                <p>- Корабль подготовлен</p>
            </div>
            <div class="game-info">
                <div class="color ship"></div>
                <p>- Корабль закреплен</p>
            </div>
        </div>

        <div class="game-container">
            <table  id = "enemyTable" class="game-table">
                {% for i in 0..9 %}
                    <tr>
                        {% for j in 0..9 %}
                            <td id ="{{ i ~ j }}">

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <div class ="fire hiden">Огонь</div>
            <div class ="messenge-prep">Нажмите на кнопку слева</div>

        </div>
    </div>


{% endblock %}

