
{% extends 'battleship/base.html.twig' %}

{% block content %}

    {% include 'battleship/navigation.html.twig' %}

    <div class="game-starting">
        <div class="game-over">
            GAME OVER
        </div>
    </div>

{% endblock %}

