<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Battleship</title>
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/response.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        {% block content %}

        {% endblock %}

        {% block javascripts %}
            <script  src= "{{ asset('/js/jquery-1.11.2.min.js') }}" ></script>
        {% endblock %}
    </body>
</html>

