<nav class="navigation">
    <ul class="navigation-list">
        <li>
            <img src="{{ asset('image/logo.png') }}">
        </li>
        <li>
            <a href=" {{ path ('home_page') }} ">
                Ваша страница
            </a>
        </li>
        <li>
            <a href=" {{ path ('game_start') }} ">
                Играть
            </a>
        </li>
        <li>
            <a href=" {{ path ('regulations') }} ">
                Как играть?
            </a>
        </li>
        <li>
            <a href=" {{ path ('battleship_logout') }} ">
                Выход
            </a>
        </li>
    </ul>
</nav>