
{% extends 'battleship/base.html.twig' %}

{% block content %}

    {% include 'battleship/navigation.html.twig' %}

    <div class="regulations">
        <h1>Правила и условности игры</h1>

        <p><a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%80%D1%81%D0%BA%D0%BE%D0%B9_%D0%B1%D0%BE%D0%B9_(%D0%B8%D0%B3%D1%80%D0%B0)">
                Основные правила игры</a></p>
        <p>Что бы начать игру нажмите кнопку <i>"Играть"</i>  на панели навигации</p>
        <img src="http://dl3.joxi.net/drive/2018/07/20/0030/0956/2007996/96/936c69053c.jpg">
        <p>После этого начнется подбор вашего соперника, и будет показан таймер.</p>
        <img src= "http://joxi.ru/xAenR0vtpPdW4r.jpg">
        <p>
            Когда соперник будет найден, вы попаде на окно расставления кораблей.Корабли занимают разное
            количество клеток .
        </p>
        <ol>
            <li>"Однопалубник" занимает  <strong>только одну</strong> клеточку</li>
            <li>"Двухпалубник" занимает  <strong>только две</strong> клеточки</li>
            <li>"Трехпалубник" занимает  <strong>только три</strong> клеточки</li>
            <li>"Четырехпалубник" занимает  <strong>только четыре</strong> клеточки</li>
        </ol>
        <p>Что бы начать расстановку нажмите кнопку <strong>Начать размещение кораблей ! </strong></p>
        <p>Затем с помощью мыши выделите нужные квадраты, и нажмите
            <strong> Готово.Корабль установлен!</strong> или  <strong> ПРОБЕЛ</strong> </p>
        <p>После этого сервер произведет проверрку корректности установленного вами корабля.</p>
        <p>В случае возникновения ошибок вам будет сообщено об этом в окошке под правой таблицей</p>
        <p>Когда все корабли установлены, нажмите кнопку  <strong>Начать игру !</strong></p>
        <p>Начнеться ожидание готовности противника, как только он будет готов, начнется игра!</p>
        <img src="http://joxi.ru/eAOXn1RUxaBGpr.jpg">
        <p>Правая таблица - ваш соперник . Выделите нужный квадрат мышкой, и нажмите
            <strong>огонь</strong> что бы произвести залп .
        </p>
        <p>В зависимсоти от результата, клетка окрасится в определеннный цвет, подсказки о значении
            каждого цвета есть на странице с игрой .
        </p>
        <p>В правом нижнем углу так же размещена информация о вашем сопернике . Кликните мышкой по ней что бы узнать
            подробнее
        </p>

        <h3>Побед вам в великих Сражениях!!!!</h3>

    </div>

{% endblock %}

