
{% extends 'battleship/base.html.twig' %}

{% block content %}

    {% include 'battleship/navigation.html.twig' %}

    <div class="homepage">
        {{ form_start ( form ) }}
        <div class="user-img">
            <img src="{{ asset('uploads/img/' ~ img) }}">
            {{ form_widget (form.img) }}
        </div>

        <div class="status">
            <p>
                {{ form_widget ( form.status ) }}
            </p>
        </div>

        <div class="info-container">
            <div class="user-info">
                <h3>Личные данные :</h3>
                <p>
                    <strong>Имя :</strong> {{ form_widget (form.firstName) }}
                </p>
                <p>
                    <strong>Фамилия :</strong> {{ form_widget (form.lastName) }}
                </p>
                <p>
                    <strong>Пол :</strong> {{ form_widget (form.gender) }}
                </p>
                <p>
                    <strong>Дата рождения :</strong> {{ form_widget (form.dateOfBrith) }}
                </p>
                <p>
                    <strong>Увлечения :</strong>
                </p>
                <p>
                    {{ form_widget (form.hobbies) }}
                </p>

                <button value="gsddg">Сохранить</button>

            </div>
        </div>

        {{ form_end ( form ) }}
    </div>


{% endblock %}