
{% extends 'battleship/base.html.twig' %}

{% block content %}

    {% include 'battleship/navigation.html.twig' %}

    <div class="homepage">
        <div class="user-img">
            <img src="{{ asset('uploads/img/' ~ userInfo.img) }}">
        </div>

        {% if (userInfo.Status) %}
            <div class="status">
                <p>
                    {{ userInfo.Status }}
                </p>
            </div>
        {% endif %}

        <div class="info-container">
            <div class="user-info">
                <h3>Личные данные :</h3>
                {% if (userInfo.FirstName) %}
                    <p>
                        <strong>Имя :</strong> {{ userInfo.FirstName }}
                    </p>
                {% endif %}
                {% if (userInfo.LastName) %}
                    <p>
                        <strong>Фамилия :</strong> {{ userInfo.LastName }}
                    </p>
                {% endif %}
                {% if (userInfo.Gender) %}
                    <p>
                        <strong>Пол :</strong> {{ userInfo.Gender }}
                    </p>
                {% endif %}
                {% if (userInfo.DateOfBrith) %}
                    <p>
                        <strong>Дата рождения :</strong> {{ userInfo.DateOfBrith | date ( "m/d/Y" ) }}
                    </p>
                {% endif %}
                {% if (userInfo.Hobbies) %}
                    <p>
                        <strong>Увлечения :</strong>
                    </p>
                    <p>
                        {{ userInfo.Hobbies }}
                    </p>
                {% endif %}
                {% if (button) %}
                    <div>
                        <a href="{{ path('user_setting') }}">Редактировать</a>
                    </div>
                {% endif %}

            </div>
            <div class="user-statistic">
                <h3>Игровая статистика :</h3>
                <p>
                    <strong>Игр сыгранно :</strong> {{ userStatistics.GamesNumber }}
                </p>
                <p>
                    <strong>Побед :</strong> {{ userStatistics.victory }}
                </p>
                <p>
                    <strong>Поражений :</strong> {{ userStatistics.GamesNumber - userStatistics.victory }}
                </p>

            </div>

        </div>
    </div>

{% endblock %}