*{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h3 {
    font-size: 1.2em;
}

h1 {
    font-size: 1.4em;
}

body {
    background: url(../image/body.jpg)  center center fixed;
    background-size: cover;
}

input {
    border: none;
}

a {
    text-decoration: none;
}

.hiden {
    display: none;
}

/********************/
/* Формы регистрации и авторизации */
/********************/

.form-header{
    margin: 30px;
}

.form-header h3{
    color: #1983dd;
    margin-bottom: 15px;
}

.register-container-flex{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    width: 100%;
    max-width: 500px;
    background-color: #e4e4e4;
    text-align: center;
}

.register-container a p{
    margin-bottom: 15px;
}

.form input{
    width: 80%;
    display: block;
    padding: 10px 10px;
    border: 2px solid #c0c0c0;
    margin: 10px 10%;
}

.form input:focus{
    border-color: #1983dd;
}

.form-button {
    text-align: center;
    display: block;
    margin: 30px auto;
    width: 200px;
    background-color: #1983dd;
    padding: 10px 0;
    color: #d3d3d3;
    border: 1px solid black;
    cursor: pointer;
}

.form-button:hover {
    background-color: #d3d3d3;
    color: #1983dd;
}

.form-error {
    font-weight: bold;
    color: red;
    font-size: 20px;
}
/********************/
/* Навигация */
/********************/
.navigation {
    height: 70px;
    background-color: #1983dd;
    position: fixed;
    top: 0;
    color: #e4e4e4;
    font-weight: bold;
    width: 100%;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navigation-list li{
    list-style: none;
    width: 20%;
}

/********************/
/* Страница с информацией */
/********************/

.user-img {
    width: 100%;
    max-width: 250px;
    margin: 100px auto 30px;
}

.user-img img{
    width: 100%;
}

.status{
    padding: 10px;
    background-color: rgba(228, 228, 228, 0.5);
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}

.info-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
}

.user-info {
    width: 40%;
    background-color: rgba(228, 228, 228, 0.5);
}

.user-info p{
    margin: 15px 0;
}

.user-statistic {
    width: 40%;
    background-color: rgba(228, 228, 228, 0.5);
}

textarea {
    width: 94%;
    resize: vertical;
}

/********************/
/*Games */
/********************/

.game {
    width: 1000px;
    height: 500px;
    margin: 150px auto 0;
    display: flex;
    justify-content: space-between;
}

.game-container{
    width: 400px;
}

.game-table {
    border-collapse: collapse;
    width: 100%;
    background-color: lightgrey;
}

.game-table td{
    border: 2px solid #0000F0;
    height: 40px;
    width: 40px;
}

.fire {
    font-size: 30px;
    padding: 20px 0;
    background-color: #dd6666;
    text-align: center;
    margin: 40px 0;
    border-radius: 15%;
    cursor: pointer;
    border: 2px solid red;
    box-shadow: 7px 2px 4px black;
}

.messenge{
    font-size: 30px;
    padding: 20px 0;
    background-color: rgba(228, 228, 228, 0.5);
    text-align: center;
    margin: 40px 0;
    border-radius: 15%;
    border: 2px solid black;
    box-shadow: 7px 2px 4px black;
}

.enemy {
    display: flex;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.5);
}

.enemy img{
    width: auto;
    height: 150px;
}

.game-info{
    display: flex;
    margin: 10px 0;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.5);
}

.color {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.ship-prepare{
    background-color: #6b9311;
}

.ship{
    background-color: #916319;
}

.ship-clic {
    background-color: #8959A8;
}

.killed {
    background-color: black;
}

.injured{
    background-color: red;
}

.slip{
    background-color: #dd6666;
}

.game-starting{
   background-color: rgba(228, 228, 228, 0.5);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-starting-messenge{
    font-size: 50px;
}

.timer {
    font-size: 70px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    color: #1983dd;
    border: 10px solid #916319;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 20px 0;
    background-color: lightgrey;
    margin: 15px 0;
    text-align: center;
    border: 2px solid black;
    box-shadow: 7px 2px 4px black;
    cursor: pointer;
}

.messenge-prep {
    padding: 20px 0;
    background-color: lightgrey;
    margin: 15px 0;
    text-align: center;
    border: 2px solid black;
    box-shadow: 7px 2px 4px black;
    color: #916319;
    font-weight: bold;
}

.game-over{
    font-size: 150px;
    color: darkred;
    font-weight: bold;
}

.game-victory{
    font-size: 100px;
    color: #F5871F;
    font-weight: bold;
}

/********************/
/*regulations*/
/********************/

.regulations{
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: rgba(228, 228, 228, 0.8);
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.regulations p {
    margin: 10px 0;
}

.regulations img {
    width: 100%;
}



























