
{% extends 'battleship/base.html.twig' %}

{% block content %}
    <div class="register-container-flex">
        <div class="register-container">
            {% if error %}
                <div class="form-error"> Данные введены не верно !</div>
            {% endif %}
            <div class="form-header">
                <h3>Авторизация</h3>
                <p>Авторизуйтесь что бы получить доступ к игре!</p>
            </div>
            <form action="{{ path ('battleship_login') }}" method= "post" >
                <div class="form">
                    <label>
                        <p>Ведите ваш никнейм</p>
                        <input type= "text" id= "username" name= "_username" value= " {{ last_username }} " />
                    </label>
                </div>
                <div class="form">
                    <label>
                        <p>Ведите ваш пароль</p>
                        <input type= "password" id= "password" name= "_password" />
                    </label>
                </div>
                <button type="submit"  class="form-button"> Войти </button>
            </form>
            <a href="{{ path('battleship_register') }} ">
                <p>Регистрация</p>
            </a>
        </div>
    </div>


{% endblock %}
