{% extends 'battleship/base.html.twig' %}

{% block content %}

    <div class="register-container-flex">
        <div class="register-container">
            <div class="form-header">
                <h3>Регистрация</h3>
                <p>Зарегистрируйтесь что бы получить доступ к игре!</p>
            </div>
            {{ form_start ( form ) }}
            <div class="form">
                <label>
                    <p>Ведите ваш никнейм</p>
                    {{ form_widget ( form.username ) }}
                </label>
            </div>
            <div class="form">
                <label>
                    <p>Ведите ваш email</p>
                    {{ form_widget ( form.email ) }}
                </label>
            </div>
            <div class="form">
                <label>
                    <p>Ведите ваш пароль</p>
                    {{ form_widget ( form.plainPassword.first ) }}
                </label>
            </div>
            <div class="form">
                <label>
                    <p>Повторите ваш пароль</p>
                    {{ form_widget ( form.plainPassword.second ) }}
                </label>
            </div>
            <button type= "submit"  class="form-button"> Зарегестрироваться! </button>
            {{ form_end ( form ) }}
            <a href="{{ path('battleship_login') }} ">
                <p>Вход</p>
            </a>
        </div>
    </div>


{% endblock %}
